<?xml version="1.0"?>
<launch>
  <!-- Launch node arguments -->
  <arg name="rviz" default="true" />

  <!-- Include Object Detection Fusion launch file -->
  <include file="$(find creamsooo_fusion)/launch/creamsooo_fusion.launch">
    <!-- Pass any specific parameters if needed -->
    <arg name="debug" value="false" /> <!-- Disable individual RViz -->
  </include>

  <!-- Include Lane Detection Fusion launch file -->
  <include file="$(find creamsooo_fusion)/launch/lane_detection_fusion.launch">
    <!-- Pass any specific parameters if needed -->
    <arg name="rviz" value="false" /> <!-- Disable individual RViz -->
  </include>

  <!-- Launch RViz with custom configuration for both object and lane detection -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" 
        args="-d $(find creamsooo_fusion)/rviz/integration.rviz" />

  <!-- Static Transform Publishers for sensors to ego_car frame -->
  <!-- 카메라와 ego_car 간의 변환 (x=0.97, y=0.0, z=1.32, roll=0.0, pitch=0.0, yaw=0.0) -->
  <node pkg="tf" type="static_transform_publisher" name="ego_to_camera" 
        args="0.97 0.0 1.32 0.0 0.0 0.0 ego_car camera1_frame 100" />

  <!-- 라이다와 ego_car 간의 변환 (x=1.39, y=0.0, z=0.95, roll=0.0, pitch=0.0, yaw=-1.5708) -->
  <node pkg="tf" type="static_transform_publisher" name="ego_to_lidar" 
        args="1.39 0.0 0.95 0.0 0.0 -1.5708 ego_car os_sensor 100" />

</launch> 